/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.button {
  padding: 0.75rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.code-container {
  position: relative;
  background-color: #282c34;
  border-radius: 5px;
  padding: 1em;
}

pre {
  color: #abb2bf;
  overflow-x: auto;
}

